<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li class="active">
        {{#link-to "projects"}}Projects{{/link-to}}
      </active>
    </ul>
    <h3 class="text-muted">Playing with ember.js</h3>
  </div>

  <div class="row">
    {{ outlet }}
  </div>

  <div class="footer">
    <p><a href="https://github.com/s0dz" class="text-muted">s0dz</a></p>
  </div>

</div>